# Sets

A set contains ONLY unique values - same as a a mathematical set
- all elements MUST be unique
- unordered - ie have no order
- elements casn be of different data types

### Creating A Set

In [23]:
# myset = set()

myset1 = set(['a', 'b', 'c' ])   # passing a list
myset2 = set('help')              # passing a string
myset2

{'e', 'h', 'l', 'p'}

In [21]:
myset3 = set('aabbcc') ## contains duplicate but after set function applied only unique values
myset3

{'a', 'b', 'c'}

In [25]:
# Cannot do the following as can only pass ONE argument!!!
myset4 = set('one', 'two', 'three')

TypeError: set expected at most 1 arguments, got 3

In [27]:
# This converts it as one string!!!
myset4 = set('one two three')
myset4

{' ', 'e', 'h', 'n', 'o', 'r', 't', 'w'}

In [30]:
# This will work - Use a List or tuple:
myset4 = set(('one', 'two', 'three')) # or do myset4 = set(['one', 'two', 'three'])
myset4

{'one', 'three', 'two'}

## Getting Number Elements in a SET

In [32]:
NumberElements = len(myset4)
NumberElements

3

## Adding or Removing Elements

In [38]:
# To add:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(3)  ## no exception raised when adding duplicate item!!

In [39]:
my_set

{1, 2, 3}

In [41]:
my_set.update([4, 5, 6, 4, 5, 6])  ## we can add multiple items in one go - even if contains duplicates
my_set

{1, 2, 3, 4, 5, 6}

In [49]:
# adding set to existing set using update method
set1 = set([1, 2, 3])
set2 = set([4, 5, 6])
set1 = set1.update(set2)
print(set1)  # note it does not return anything- but set1 has been modified

None

In [ ]:
# remove method will raise KeyError exception if item not found

In [60]:
set1 = set([1, 2, 3])
set1.remove(44)
set1

KeyError: 44

In [ ]:
# discard method DOES NOT raise KeyError exception if item not found!!

In [61]:
set1 = set([1, 2, 3])
set1.discard(44)
set1

{1, 2, 3}

## Clearing a SET to make it empty

In [62]:
set1 = set([1, 2, 3])
set1

{1, 2, 3}

In [63]:
set1.clear()
set1

set()

## Using a 'for' Loop to iterate over a set

for var in set_name:
    statement1
    statement2 etc etc

In [73]:
set1 = set('Help!')

In [74]:
for value in set1:
    print(value)

!
l
H
e
p

## Using 'in' and 'not in' - Testing for value in a set

In [75]:
set1 = set([1, 2, 3])

if 1 in set1:
    print('Value 1 is in the set')

Value 1 is in the set

In [76]:
set1 = set([1, 2, 3])

if 99 not in set1:
    print('Value 99 is NOT IN the set')

Value 99 is NOT IN the set

# UNION of two sets

ie all the elements of BOTH sets

set1.union(set2) or
set1 | set2

In [84]:
set1 = set([1, 2 , 3, 4, 5])
set2 = set([4, 5, 6, 7, 8, 9 ])

#unionSet = set1.union(set2)    ## note that 4 and 5 are in bith sets and will be dropped!
unionSet = set1 | set2
unionSet

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [86]:
set1 = set([1, 2 , 3, 4, 5])
set2 = set([4, 5, 6, 7, 8, 9 ])

#unionSet = set2.union(set1)    ## We can do the otherway around - commutative
unionSet = set2 | set1
unionSet

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Intersection of Sets

ie contains elements found ONLY in both sets

In [91]:
set1 = set([1, 2 , 3, 4, 5])
set2 = set([4, 5, 6, 7, 8, 9 ])

unionSet = set1.intersection(set2)    ## note that 4 and 5 are in both sets and will be dropped!
#unionSet = set1 & set2
unionSet

{4, 5}

## Difference of Sets -- Elements in Set1 that DON'T APPEAR in set2

set1.difference(set2)  NOT NECESSARILY EQUAL TO set2.difference(set1)
or:
set1 - set2  or set2 - set1

In [100]:
set1 = set([1, 2 , 3, 4, 5])
set2 = set([4, 5, 6, 7, 8, 9 ])

# elementsInOneButNotTwo = set1.difference(set2)  ## LEFT OUTER JOIN
elementsInOneButNotTwo = set1 - set2
elementsInOneButNotTwo

{1, 2, 3}

In [101]:
set1 = set([1, 2 , 3, 4, 5])
set2 = set([4, 5, 6, 7, 8, 9 ])

# elementsInTwoButNotOne = set2.difference(set1)  ## Right Outer JOIN
elementsInTwoButNotOne = set2 - set1
elementsInTwoButNotOne

{6, 7, 8, 9}

## Symmetric Difference of SETS -- Full OUTER JOIN????

set of elements which are in either of the sets and not in their intersection.
ie A(X)B

set1.symmetric_difference(set2)
set1 ^ set2

In [102]:
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8, 9}

In [103]:
set1 ^ set2

{1, 2, 3, 6, 7, 8, 9}

In [104]:
set2 ^ set1

{1, 2, 3, 6, 7, 8, 9}

## Finding Subsets and Supersets

In [110]:
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
set2 = set([2, 3 ])

# clearly set2 is a subset of set1
# set2.issubset(set1)    # returns True or False

# alternative method

set2 <= set1

True

In [112]:
# is one a superset of another

# set1.issuperset(set2)

# alternative method

set1 >= set2

True

## You can use the set functions for doing - You can have two lists of people and check :

1 - print those that are in each group
2 - which are in both groups (ir belong to both groups)
3 - which are in either or both groups (full intersection)
4 - which are in group1 but not group2 and vice versa (left outer join)
5 - which only belong to a single group only (??)

## Serializing Objects

This is the process of converting an object to a stream of bytes. To later save to a file or for retreival.
Python calls this process 'pickling'. we use a standard library :pickle

1. import pickle
2. open file for binary writing
3. Call pickles dump method and write specified file
4. After all pickling done, close file

In [125]:
'''import pickle

outputfile = open('./data/myoutputdata.dat', 'wb')     ## note it is *.dat file and wb for binary write
pickle.dump(objectvariable, outputfile)                ## object = var ref's object to be pickled; file ref's file object

outputfile.close() '''

"import pickle\n\noutputfile = open('./data/myoutputdata.dat', 'wb')     ## note it is *.dat file and wb for binary write\npickle.dump(objectvariable, outputfile)                              ## object = var ref's object to be pickled; file ref's file object\n\noutputfile.close() "

In [124]:
# To retreive or unpickle
'''
import pickle
inputfile = open('./data/myoutputdata.dat', 'rb')   ## note: rad and binary mode
objectVariable = pickle.load(inputfile)             ## assigned to objectVariable
inputfile.close()

'''

"\nimport pickle\ninputfile = open('./data/myoutputdata.dat', 'rb')\nobject = pickle.load(file)\ninputfile.close()\n\n"