# Chapter 2 - BASICS

In [1]:
print('Ziaur Rahman')

Ziaur Rahman

### If you use quotes then use a single quotes!!!

In [3]:
print("'Python's the best!'") # use single quotes to enclose a double quote

'Python's the best!'

In [6]:
(x, y, z) = (20, 40, 60)
print((x, y, z))

(20, 40, 60)

# assignment statement: variable = expression 
CANNOT DO:  25 = age

# This program demonstrates a variable assigment and then print

In [7]:
room = 101
print('I am staying in room:', room)
print(f'Im staying in room: {room}')   ## using f formats
print(room)

I am staying in room: 101
Im staying in room: 101
101

In [8]:
print('age') # if you just want to print a word

age

In [12]:
top_speed = 160 
distance = 300 # creates two variables

print('The top speed is', top_speed)
print('The distance travelled is', distance, 'Km/hr') # note Python will insert a space!!!

The top speed is 160
The distance travelled is 300 Km/hr

# variables: no spaces, 1st char is a letter or _, NO special characters.

# Case matters, use underscores between several words eg grosspay == gross_pay or use camelCase: grossPay

In [13]:
dollars = 2.75
print('I have', dollars, 'dollars in my account.' )

I have 2.75 dollars in my account.

In [14]:
dollars = 100.99
print('I have', dollars, 'dollars in my account.' ) # variables can be reassigned different values

I have 100.99 dollars in my account.

In [17]:
# numeric literal with NO decimal point considered as an int, eg age = 43
age = 43
type(age)

int

In [18]:
# numeric literal with a decimal point considered as an float, eg dollars = 10.99
age = 43.0
type(age)

float

In [19]:
# Python uses data type str to assign storing strings in memory

In [ ]:
fName = "Ziaur"
sName = "Rahman"

In [ ]:
print(fName,sName)

# Reading input from a keyboard using the input() function 
variable = input(prompt)

In [22]:
# program to show input from a user

age = input("Please enter you age: ") ## You DO need a space for the input command
print()
print("You had entered", age)

Please enter you age: 43

You had entered 43

In [26]:
salesFiguresWeek = input("Please enter the sales figures for the week ") # practicing
last_name = input("Please enter the customer's last name: ")

print(salesFiguresWeek, last_name)

Please enter the sales figures for the week 101
Please enter the customer's last name: Rahman
101 Rahman

# Python uses +, -, *, /, % ie Remainder, ** ie exponent
# operator precedance follows PEMDAS = Parenth., exp, mult, div, add, subt.

In [39]:
salary = 2000.00
bonus = 0.10 * salary
pay = salary + bonus
print(f'Your take-home pay is £{pay:.2f}')
print(f'Made up of salary £{salary:.2f} and a 10% bonus of £{bonus:.2f}')

Your take-home pay is £2200.00
Made up of salary £2000.00 and a 10% bonus of £200.00

# Prevent a new line by using the trailing comma technique

In [41]:
print("One", end='-' )
print("Two", end = '#')
print("Two", end = ',')

One-Two#Two,

In [50]:
print("One", "Two","Two", sep='-' )
print("One", "Two","Two", sep='*' )
print("One", "Two","Two", sep='' )

One-Two-Two
One*Two*Two
OneTwoTwo

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Pythons escape characters
# \n == new line
# \t == tab
# \' == single quote
# \" == double quote
# \\ == backslash

In [53]:
print("One\nTwo")
print()
print("One\tTwo")
print()
print("One\'Two")
print()
print("One\"Two")
print()
print("One\\Two")

One
Two

One	Two

One'Two

One"Two

One\Two

# String concatenation with + Operator

In [54]:
print("Your name is " + "Ziaur Rahman")

Your name is Ziaur Rahman

# Formatting numbers
# .2f is equivalent to 2dp
# .3f is equivalent to 3dp

ie X.nB  --> x = number digits in mantissa? n= #sig digits, B = type of formatting e.g. f = sig figures

In [59]:
pi = 3.14762736378463767236736
print(f"Pi to 2 & 3 decimal places respectively are {pi:.2f} and {pi:.3f}" )

Pi to 2 & 3 decimal places respectively are 3.15 and 3.148

## Formatting numbers for fixed width
1. f-strings or Formatted String Literals

In [66]:
value = 3147627363.78463767236736

print(f"Value to 2 & 3 decimal places is {value:3.2f} and {value:3.3f}")

Value to 2 & 3 decimal places is 3147627363.78 and 3147627363.785

In [68]:
value = 43
print(f"You are {value: d} years old" )   # Decimals

You are  43 years old

In [72]:
name = "Ziaur Rahman"
print(f'Your name is {name}')

Your name is Ziaur Rahman

# Practice Section

In [73]:
print("Ziaur\tRahman\n54 Cradock Road\nSaltley\nBirmingham\nB8 1RY")
print("0121 - 327 - 3318 \t MSc Business Analytics")

Ziaur	Rahman
54 Cradock Road
Saltley
Birmingham
B8 1RY
0121 - 327 - 3318 	 MSc Business Analytics

In [74]:
sales = 0
profit = 0
sales = float(input("Please enter the projected total sales "))
profit = sales * 0.23
print(f"Profit is {profit:.2f}")

Please enter the projected total sales 122
Profit is 28.06

In [75]:
subtotal = 0
sales_tax = 0
item_one = float(input("please enter the cost of item 1: "))
item_two = float(input("please enter the cost of item 2: "))
subtotal = item_one + item_two
sales_tax = 0.20 * subtotal
grand_total = subtotal + sales_tax
print(f"The subtotal is: £{subtotal:.2f} with a sales tax of £{sales_tax:.2f}. You owe in total £{grand_total:.2f}")

please enter the cost of item 1: 100
please enter the cost of item 2: 200
The subtotal is: £300.00 with a sales tax of £60.00. You owe in total £360.00

In [77]:
number_shares_start = 1000
shares_start_price = 32.87
buy_commission_rate = 0.02
buy_commission = 0
buy_commission = (number_shares_start * shares_start_price) * buy_commission_rate
joe_Bought = (number_shares_start * shares_start_price) + buy_commission

number_shares_end = 1000
shares_end_price = 33.92
sell_commission_rate = 0.04
sell_commission = 0
sell_commission = (number_shares_end * shares_end_price) * sell_commission_rate
joe_Sold = (number_shares_end*shares_end_price) - sell_commission
profit = joe_Bought - joe_Sold
print(f"Joe paid £{joe_Bought:.2f} inc. commission of £{buy_commission:.2f}")
print(f"Joe Sold for £{joe_Sold:.2f} inc. commission of £{sell_commission:.2f}")
print(f"Joe made profit of £{profit:.2f}")

Joe paid £33527.40 inc. commission of £657.40
Joe Sold for £32563.20 inc. commission of £1356.80
Joe made profit of £964.20

In [79]:
print("One","Two","Three", end="")

One Two Three

In [81]:
print("One", "Two", "Three", sep="")
print("One", "Two", "Three", sep="---")
print("One", "Two", "Three", sep="*")
print("One\nTwo\nThree")
print("This is " +
     "a single string")
print()
print('This is '+ \
     'a single string' + \
     ' on multiple lines') ## multi-line code

OneTwoThree
One---Two---Three
One*Two*Three
One
Two
Three
This is a single string

This is a single string on multiple lines

In [85]:
number = 12345.6789
number2 = 1234567890
print(format(number, '.2f')) # 2 decimal places type float
print(format(number, '.1f')) # 1 decimal places type float
print(format(number, '.2e')) # 2 deciaml places -scientififc notation
print(format(number, 'e'))
print(format(number2, ',.2f')) # uses comma instead of period

12345.68
12345.7
1.23e+04
1.234568e+04
1,234,567,890.00

In [87]:
#help('FORMATTING')

In [88]:
print(format(0.5, '%'))
print(format(0.5, '.0%'))

50.000000%
50%

# Exercises

1. Distance traveled
Assuming there are no accidents or delays, the distance that a car travels
down the inter-state can be calculated with the following formula:

Distance  = Speed * Time

A car is traveling at 70 miles per hour. 
Write a program that displays the following:
• The distance the car will travel in 6 hours
• The distance the car will travel in 10 hours
• The distance the car will travel in 15 hours

In [91]:
SPEED = 70.0

def main():
    #time = float(input("Please enter time travelled in hours: "))
    distanceTravelled(SPEED,6)
    distanceTravelled(SPEED,10)
    distanceTravelled(SPEED,15)
    
def distanceTravelled(speed,time):
    distanceTravelled = speed * time
    print(f"The distance travelled in {time: .1f} hours is {distanceTravelled:.2f} miles" )

main()

The distance travelled in  6.0 hours is 420.00 miles
The distance travelled in  10.0 hours is 700.00 miles
The distance travelled in  15.0 hours is 1050.00 miles

2. Write a program that asks the user for the number of males and the number of females regis-
tered in a class. 
The program should display the percentage of males and females in the class.
Hint: Suppose there are 8 males and 12 females in a class. There are 20 students in the class.

In [124]:
def main():
    numberMales = int(input("Enter number of males: "))
    numberFemales = int(input("Enter number of females: "))
    totalClass = numberMales + numberFemales
    percentMale = (numberMales/totalClass)*100
    percentFemale = (numberFemales/totalClass)*100
    print(f'The total classs size is {totalClass} and' ,
          f'there are {percentMale:.2f}% males and' ,
          f'{percentFemale: .2f}% females')

main()

Enter number of males: 1
Enter number of females: 2
The total classs size is 3 and there are 33.33% males and  66.67% females

Ingredient Adjuster
A cookie recipe calls for the following ingredients:
•	1.5	cups of sugar 
•	1 cup of	butter 
•	2.75 cups of flour 
The recipe produces 48 cookies with this amount of the ingredients.
Write a program that asks the user how many cookies he or she wants to make,
and then displays the number of cups of each ingredient needed for the
specified number of cookies.

In [23]:
# Ingredient Adjuster Program
def main():
    quantityCookies = int(input('How many cookies do you wish to make? '))
    multiplicationFactor = quantityCookies/48.0
    
    print(f'You will need {1.5*multiplicationFactor:.2f} of Sugar')
    print(f'You will need {1*multiplicationFactor:.2f} of Butter')
    print(f'You will need {2.75*multiplicationFactor:.2f} of Flour')
    
main()

How many cookies do you wish to make? 12
You will need 0.38 of Sugar
You will need 0.25 of Butter
You will need 0.69 of Flour

Celsius to Fahrenheit temperature Converter
Write a program that converts Celsius temperatures to Fahrenheit temperatures.
The formula is as follows: F =(9/5)*C + 32.
The program should ask the user to enter a temperature in Celsius,
and then display the temperature converted to Fahrenheit.