## Sequences

Sequence = object , multiple items of data, one after another
Python operations performed on sequence and can be manipulated.
Fundamental sequences are:
            1.Lists - mutable, dynamic (add/remove items),indexing,Slicing,Various Methods applied
            2.Tuples

Difference between a list and tuple
List = MUTABLE ie programs can change their contents
Tuple = imMUTABLE - once created - cannot change its contents

### Intro to LISTS

list made up of elements - SQUARE BRACKETS
variable 'odd_numbers' references the LIST object and same for 'names'
e.g. odd_numbers = [1,3 ,5 ,7 ,9 ,11 ]
names = ['Molly', 'Steven', 'Will', 'Alicia', 'Adriana']
info = ['Alicia', 27, 1550.87]

In [ ]:
odd_numbers = [1, 3, 5, 7, 9, 11]
names = ['Molly', 'Steven', 'Will', 'Alicia', 'Adriana']
info = ['Alicia', 27, 1550.87]

In [ ]:
print(names, odd_numbers, info)

### Converting objects to Lists

In [ ]:
# An example

numbers = list(range(10))
print(numbers)

In [ ]:
# another example

even_numbers = list(range( 1, 10, 2))
print(even_numbers)

#### The Repition Operator

list * integer => becomes repitition operator and
makes multiple copies of a list and joins them together

In [ ]:
# an example

zero_list = [0] * 5
print(zero_list)

In [ ]:
# another example

numbers_list = [1 ,2, 3] * 3
print(numbers_list)

#### Iterating over a List with for LOOP

In [ ]:
numbers = list(range(99,103,1))
print(numbers)

In [ ]:
for num in numbers:
    print(num)

#### Indexing

Another way to access individual elements - use an INDEX
Each element corresponds to index specifying its position
Index starts from ZERO
Last element is (n-1) where n is number of elements

In [ ]:
my_list = list(range(10,50,10))

In [ ]:
print(my_list)

In [ ]:
print(my_list[0], my_list[1], my_list[2], my_list[3])

In [ ]:
# using a loop to print the list elements

i = 0
while i < len(my_list):    ## use len(x) prevents IndexError occuring
    print(my_list[i])
    i += 1

##### Using NEGATIVE indexing

In [ ]:
my_list = [10, 20, 30, 40]

In [ ]:
# Printing the list backwards using negative indexing

print(my_list[-1], my_list[-2], my_list[-3], my_list[-4])

In [ ]:
# IndexError exception raised when invalid index, see bleow example

my_list[4]

### Lists are MUTABLE - an example

In [ ]:
numbers = list(range(1,6))
print(numbers)

In [ ]:
# assigning 99 to element 1
numbers[0] = 99
print(numbers)

In [ ]:
# Example showing entire list changed to 99
numbers = [1, 2, 3, 4, 5]
print(numbers)

i = 0
while i < len(numbers):
    numbers[i] = 99
    i += 1
    
print(numbers)

In [ ]:
# Example taking user input to fill a list
NUMBER_DAYS = 7

def main():
    salesFigures = [0] * NUMBER_DAYS
    
    i=0
    
    print('Please enter the sales figures for each day')
    
    while i < NUMBER_DAYS:
        print(f'Day #{i+1}'  )
        salesFigures[i] = float(input())
        i += 1
    
    print(f'You entered the following:{salesFigures}')
    
    #for num in salesFigures:
        #print(num)
main()

#### Concatenating Lists

Use the + operator

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list3 = list1 + list2
list3

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list2 += list1
list2 ## list 2 changes but list1 remains the same

In [ ]:
list2

In [ ]:
list2 + 1 ## error if you try to concatenate a list with something NOT a list!!

### List Slicing

list slicing is an expression that slects a range of elements from a sequence
ie more than a single element

general format:

list_name[start: end, step] # start default is o, end default is END of list, default step is 1

In [ ]:
# an example
days_of_week = ['Sat', 'Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri']

In [ ]:
mid_week = days_of_week[4:6]
mid_week

In [ ]:
working_week = days_of_week[2: ]
working_week

In [ ]:
days_of_week[ : ]

In [ ]:
consecutive_days = days_of_week[::2]
consecutive_days

In [ ]:
#### Negative slicing Example

In [ ]:
days_of_week[-7:]

## Invalid indexes dont raise an IndexError
    end index is > len(list) --- still uses end of list value
    start index <0, still uses 0 instead
    if start > end, returns an EMPTY list

## Finding Items in LISTS with in Operator

Search for items in a list using the 'in' operator
ie
itemName in listName

In [ ]:
# Example using in operator
def main():
    product_Numbers = ['V123', 'C234', 'F143', 'R688']
    
    itemSearched = input('Enter product number: ')
    
    if itemSearched in product_Numbers:
        print(f'{itemSearched} was located')
    else:
        print(f'{itemSearched} was NOT located')
    
main()

In [ ]:
# Example using NOT in operator
def main():
    product_Numbers = ['V123', 'C234', 'F143', 'R688']
    
    itemSearched = input('Enter product number: ')
    
    if itemSearched not in product_Numbers:
        print(f'{itemSearched} was NOT located')
    else:
        print(f'{itemSearched} was located')
    
main()

### List Methods and Useful Methods

Numerous methods to add, remove,change order etc of elements in lists
Here are a few methods:

    1. .append(item)  - Used for adding items to a list 
    2. .index(item)  - Returns index of first element whose value is equal to that item
                       i.e. where it is located. (ValueError raised if item NOT found)
    3. insert(index,item) - inserts item at specified index. List expands.Index positions shift forwards by 1
                           incorrect end index = placed at end ( no error) 
                           incorrect negative index = placed at end of list
    4. sort(list_name) - sorts ascending(ie low to High) NOTE; inplace Sort
    5. remove(item) - removes first occurence  - ValueError raised if not found.
                        Note: index shifted backwards towards beginning and
                        ValueError exception raised if item not found in list
    6. reverse(list_name) - reverses the order of the list - INPLACE!!
    7. del list_name[index] - use remove item at specific index - NOT same as remove!
    8. min(list_name) or max(list_name) -- min or max of the list

In [ ]:
# Example using the append method
def main():
    names_list = []
    addMore ='y'
    
    while addMore == 'y':
        name = input('Please enter first name: ')
        names_list.append(name)
        
        print('Type "y" to enter another or "n" for stop: ')
        addMore = input('y or n: ')
        print()
    
    print(f'This is the list you had entered: {names_list}')

main()

In [ ]:
# Using index method to update to a new value

def main():
    food = ['Pizza' ,'Burgers', 'Chips' ]
    print(f'This is the list of food items: {food}')
    
    item = input('Which item to change?:   ')

    try:
        items_Index = food.index(item)
        new_Item = input('Please enter replacement item: ')
        food[items_Index] = new_Item
        print(f'This is the revised list: {food}')
        
    except ValueError:
        print('Unable to locate that item')
    
main()

In [ ]:
# example of using the insert method
def main():
    food_Menu = ['Pizza' ,'Burgers', 'Chips' ]
    print(f'The available menu items are: {food_Menu}')
    
    inserted_item = input('which item do you wish to insert? ')
    food_Menu.insert(0,inserted_item)
    
    print(f'The updated menu items are now: {food_Menu}')  
       
main()

In [ ]:
# Example using the .sort() method
my_list = [10, 9, -1, 30]
print(my_list)

In [ ]:
#my_list.sort(reverse=True)
my_list.sort()
print(my_list)

In [ ]:
# Using remove method to remove item from list

def main():
    food = ['Pizza' ,'Burgers', 'Chips' ]
    print(f'This is the list of food items: {food}')
    
    item = input('Which item to remove?:   ')

    try:
        food.remove(item)
        print(f'This is the revised list: {food}')
        
    except ValueError:
        print('Unable to locate that item')
    
main()

In [ ]:
# Example of Reverse()
my_list = [1, 2, 3, 4, 5]
print(f'Before Reverse(): {my_list}')
my_list.reverse()
print(f'AFTER Reverse(): {my_list}') ## inplace reverses the list

In [ ]:
#example of del remove list[index]
my_list = [198, 20220, 223, 11234, 2982985]
print(f'BEFORE removing index location 2 or item: 223: {my_list}')
del my_list[2]
print(f'AFTER removing index location 2: {my_list}')

In [1]:
#example of min and max
%timeit sum(range(1_000))
my_list = [98, 0, 23, 78, 100]
print(f'The min is {min(my_list)}')
print(f'The max is {max(my_list)}')

31.5 µs ± 967 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
The min is 0
The max is 100

### Copying Lists
To copy list - copy lists elements

In [ ]:
# Elegant method (otherwise have to copy ite, by item looped to an empty list)

my_list = [98, 0, 23, 78, 100]

my_new_copy_list = [] + my_list
my_new_copy_list

In [11]:
# Using math expressions on a list

NUMBER_EMPLOYEES = 3
PAY_RATE = 12.75

def main():
    hours_worked_list = [] * NUMBER_EMPLOYEES
    
    
    for i in range(NUMBER_EMPLOYEES):
        print(f'Enter hours worked by employee #: {i+1}', sep='', end ='')
        hours_worked = float(input())
        hours_worked_list.append(hours_worked)
    for i in range(NUMBER_EMPLOYEES):
        pay = hours_worked_list[i] * PAY_RATE
        print(f'Pay for Employee #{i+1} is £{pay:.2f}', sep='')
main()

Enter hours worked by employee #: 138
Enter hours worked by employee #: 239
Enter hours worked by employee #: 340
Pay for Employee #1 is £484.50
Pay for Employee #2 is £497.25
Pay for Employee #3 is £510.00

In [15]:
# Totalling list Value

def main():
    Salaries = [13000.11, 14000.78, 15000.98]
    
    total = 0
    for i in Salaries:
        total += i
    print(f'The total of the salaries is: £{total:.2f}')
   
main()

The total of the salaries is: £42001.87

In [16]:
# Averaging Values in a list

def main():
    Salaries = [13000.11, 14000.78, 15000.98]
    
    total = 0
    for i in Salaries:
        total += i
        
    average = total / (len(Salaries))
    print(f'The total of the salaries is: £{total:.2f}')
    print(f'The Average of the salaries is: £{average:.2f}')
   
main()

The total of the salaries is: £42001.87
The Average of the salaries is: £14000.62

In [19]:
# Passing list as argument to a Function
def main():
    salaries = [13000.11, 14000.78, 15000.98]
    print(f'The total of the salaries is: £{getSumofList(salaries):.2f}')


def getSumofList(salaryList):
    total = 0
    for i in salaryList:
        total += i
    
    return total
    #average = total / (len(Salaries))
    #print(f'The Average of the salaries is: £{average:.2f}')
   
main()

The total of the salaries is: £42001.87

In [21]:
# Returning a lIST from a FUNCTION
def main():
    numbers = get_values()
    print(f'The numbers are: {numbers}')
    
def get_values():
    values = []
    
    addMore = 'y'
    
    while addMore == 'y':
        number = float(input('Enter a number: '))
        values.append(number)
        addMore = input("y for continue else n for stop: ")
    return values

main()

Enter a number: 1
y for continue else n for stop: y
Enter a number: 2
y for continue else n for stop: y
Enter a number: 3
y for continue else n for stop: n
The numbers are: [1.0, 2.0, 3.0]

In [22]:
# Processing a List program
'''
def main():
    studentScores = get_scores()
    
    total = get_total(studentScores)
    
    lowest_score = min(studentScores)
    
    new_average = (total -= lowest_score) / (len(studentScores) - 1) ## new total w/o Min and hence len - 1 as 1 less value
    
    print(f'The new average without lowest score is {new_average}')
       
    
main()

'''

"\ndef main():\n    studentScores = get_scores()\n    \n    total = get_total(studentScores)\n    \n    lowest_score = min(studentScores)\n    \n    new_average = (total -= lowest_score) / (len(studentScores) - 1) ## new total w/o Min and hence len - 1 as 1 less value\n    \n    print(f'The new average without lowest score is {new_average}')\n       \n    \nmain()\n\n"

#### Reading data from file into a list, sort the list, write back to file the values

writelines() -- writes entire file to disk BUT NO '\n' after each item

ALTERNATIVE:

use file.write(item + '\n') and use a FOR loop!!!

### Reading data from file into a list, sort the list, write back to file the values

readlines() -- reads entire file to disk BUT with terminating :'\n' after each item
So you will need to .rstrip('\n')

ALTERNATIVE:

use list_name = file.readlines()
then use while loop  to remove '\n' over list[index] with .rstrip('\n')

OR if list of numbers:

str(number) before writing
or float(listname[index]) conversion before being able to use in a list