# Dictionaries

Dictionary object (aka key-value pairs or mappings bcuz key is mapped to value) - stores a collection of data.
Each element is made of:
Key and Value
We use the key to locate specific value

An example - use the 'name' as the key and 'mobile number' as the value
Lookup 'name' and we return the 'mobile phone' as the value

to create a dictionary use dict_name = {key: value, etc}

e.g phonebook = {'Ziaur' : '07742-603258',
                   'Khalida': '0121-322-2089'}

1. First element is 'Ziaur' : '07742-603258'
2. Key for first element is 'Ziaur'
3. Value for first element is '07742-603258'
4. Second element is 'Khalida': '0121-322-2089' etc etc

The VALUES are strings - but they can be any type of MUTABLE objects.

The KEYS can be any object - but must be IMMUTABLE and UNIQUE! e.g. int, float, tuple - but not LISTS (bcuz lists are mutable)

## Retreiving a Value from a Dictionary

Dictionaries are NOT like sequences (list,tuple,string) - they have no order or INDEX!!!
Therefore CAN'T use index - only can use the KEY

Retreiving a value from a dictionary:

dictionary_name[key_name]    ## NOTE: if key doesnt exist - raises a KeyError exception

In [4]:
phonebook = {'Ziaur' : '07742-603218',
                   'Khalida': '0121-322-2089'}

In [5]:
phonebook['Ziaur']  # this key exists and returns the value

'07742-603218'

In [6]:
phonebook['Pam'] ## this key doesnt exist!

KeyError: 'Pam'

  ### string comparisons are Case SENSITIVE !

In [7]:
phonebook['ZIAUR']  #  Ziaur not equal ZIAUR or ziaur!!! get KeyError

KeyError: 'ZIAUR'

## Using 'in' and 'not in' to test for Value in Dictionary

In [8]:
# an exmaple using 'in' operator
if 'Ziaur' in phonebook:
    print(phonebook['Ziaur'])
else:
    print('It is not in the phonebook!')

07742-603218

In [9]:
# an exmaple using 'not in' operator
if 'Zed' in phonebook:
    print(phonebook['Ziaur'])
else:
    print('It is not in the phonebook!')

It is not in the phonebook!

In [10]:
### NOTE Case-sensitive when using these comparison operators!

## Adding elements to a Dictionary

dictionary_name[key_name] = value     ## if key already exists - then value replaced else: added to dictionary!!

In [11]:
# example adding to dictionary
phonebook = {'Ziaur' : '07742-603258',
                   'Khalida': '0121-322-2089'}

phonebook['Ziaur'] = '07756 123456' ## updates existing value
phonebook['Khatam'] = '0121 327 7455'  ## adds new entry
phonebook

{'Ziaur': '07756 123456',
 'Khalida': '0121-322-2089',
 'Khatam': '0121 327 7455'}

NOTE: You cannot have a duplicate key in a dictionary!
If you assign new value to existing key - it will be replaced

### Deleting Elements

del dictionary_name(key_name)    # deletes key-value pair!!

In [12]:
phonebook = {'Ziaur' : '07742-603258',
             'Khalida': '0121-322-2089'}

del phonebook['Khatam']    ## if this key doesnt exit - KeyError exception raised
phonebook

KeyError: 'Khatam'

In [13]:
# Better to use the 'in' operator method
phonebook = {'Ziaur' : '07742-603258',
            'Khalida': '0121-322-2089'}

if 'Khatam' in phonebook:
    del phonebook['Khatam']
else:
    print('That key is not present or may have been deleted!')

That key is not present or may have been deleted!

## Getting Number of Elements in Dictionary

len(dictionary_name)

In [14]:
phonebook = {'Ziaur' : '07742-603258',
                   'Khalida': '0121-322-2089'}
len(phonebook)

2

### Mixed Data Types in a Dictionary

In [15]:
test_scores = {'Ziaur' : [84, 76, 94],
               'Tom' :[64, 61, 49]}

In [16]:
test_scores

{'Ziaur': [84, 76, 94], 'Tom': [64, 61, 49]}

In [17]:
test_scores['Tom']

[64, 61, 49]

In [18]:
ziaurs_grades = test_scores['Ziaur']
print(ziaurs_grades)

[84, 76, 94]

In [19]:
mixed_dict = { 'abc' : 1,
             999 : 'blah blah',
              (2, 4, 6 ): [1, 3, 5 ]}

In [20]:
mixed_dict

{'abc': 1, 999: 'blah blah', (2, 4, 6): [1, 3, 5]}

In [21]:
# More useful dictionary
student = {'name': 'Ziaur Rahman',
          'student ID' : 180191912,
          'course': 'MSc Business Analytics'}

In [25]:
print(student['name'] +': ', str(student['student ID']) +': ', student['course'])

Ziaur Rahman:  180191912:  MSc Business Analytics

## Creating an empty Dictionary - for adding to later

dictionary_name = {}           #### This creates an empty dictionary
or dictionary_name = dict()    #### This creates an empty dictionary

e.g. phonebook = {}
or:  phonebook = dict()

## Using a for Loop to iterate over a dictionary

for var in dictionary_name:
    statement1
    statement2
    statement3 etc etc

In [26]:
# an example
student_dict = {'name': 'Ziaur Rahman',
          'student ID' : 180191912,
          'course': 'MSc Business Analytics',
            'name': 'Khalida Rahman',
          'student ID' : 180191612,
          'course': 'MSc Strategic Marketing'}

for key in student_dict:
    print(key, student_dict[key])

name Khalida Rahman
student ID 180191612
course MSc Strategic Marketing

### Useful Dictionary Methods

dict.clear() ---  clears dict
dict.get(key, default) -- gets value for specified key - NO KeyError raised - returns default value instead

items() -- Returns all the keys AND value as a tuple
keys() --  Returns all the keys in a dict as a tuple

pop(key_name, DefaultValue) -- returns value for specified key, then removes that key-value pair from dictionary.
              if not found returns default value
              
popitem() -- returns randomly selected key-value pair as TUPLE (k,v) then removes that key-value pair

values()  --- returns all values in dict as a tuple

In [30]:
student_dict = {'name': 'Ziaur Rahman',
          'student ID' : 180191912,
          'course': 'MSc Business Analytics',
            'name1': 'Khalida Rahman',
          'student ID1' : 180191612,
          'course1': 'MSc Strategic Marketing'}

In [31]:
student_dict

{'name': 'Ziaur Rahman',
 'student ID': 180191912,
 'course': 'MSc Business Analytics',
 'name1': 'Khalida Rahman',
 'student ID1': 180191612,
 'course1': 'MSc Strategic Marketing'}

In [37]:
student_dict.clear()     ## clears the dictionary
student_dict

{}

In [41]:
student_dict = {'name': 'Ziaur Rahman',
          'student ID' : 180191912,
          'course': 'MSc Business Analytics',
            'name1': 'Khalida Rahman',
          'student ID1' : 180191612,
          'course1': 'MSc Strategic Marketing'}

In [42]:
student_dict.get('non-existent Key', 'not found')   ## return value or default message if not found

'not found'

In [43]:
student_dict.items()   # returns TUPLE of keys and values

dict_items([('name', 'Ziaur Rahman'), ('student ID', 180191912), ('course', 'MSc Business Analytics'), ('name1', 'Khalida Rahman'), ('student ID1', 180191612), ('course1', 'MSc Strategic Marketing')])

In [44]:
student_dict.keys()

dict_keys(['name', 'student ID', 'course', 'name1', 'student ID1', 'course1'])

In [46]:
student_dict.pop('non-existent Key', 'not found key' )  # returns value and then deletes that key-value pair
# else default error message if cannot locate that key

'not found key'

In [47]:
k, v = student_dict.popitem()  ## an example of MULTIPLE ASSIGNMENT
# randomly chooses a key-value pair and then deletes them
print(k,v)

course1 MSc Strategic Marketing

In [48]:
k, v = student_dict.popitem()  ## an example of MULTIPLE ASSIGNMENT
print(k,v)

student ID1 180191612

In [49]:
k, v = student_dict.popitem()   ## an example of MULTIPLE ASSIGNMENT
print(k,v)

name1 Khalida Rahman

In [50]:
student_dict

{'name': 'Ziaur Rahman',
 'student ID': 180191912,
 'course': 'MSc Business Analytics'}

In [51]:
student_dict = {'name': 'Ziaur Rahman',
          'student ID' : 180191912,
          'course': 'MSc Business Analytics',
            'name1': 'Khalida Rahman',
          'student ID1' : 180191612,
          'course1': 'MSc Strategic Marketing'}

In [53]:
student_dict.values()  # returns list of values

dict_values(['Ziaur Rahman', 180191912, 'MSc Business Analytics', 'Khalida Rahman', 180191612, 'MSc Strategic Marketing'])

In [54]:
# making use of .values() method, saving each line to a file and printing to the screen

student_dict = {'name': 'Ziaur Rahman',
          'student ID' : 180191912,
          'course': 'MSc Business Analytics',
            'name1': 'Khalida Rahman',
          'student ID1' : 180191612,
          'course1': 'MSc Strategic Marketing'}

savedFile = open('./data/Saved_File.txt', 'w')

for values in student_dict.values():
    savedFile.write(str(values) + '\n')
    print(values)
    
savedFile.close()

Ziaur Rahman
180191912
MSc Business Analytics
Khalida Rahman
180191612
MSc Strategic Marketing

# Example using Dictionary to Simulate Card Deck

Use dictionary to simulate all the cards e.g. deck = {'QHearts' : 10, '8D' :8 etc}
ask user for number of cards to randomly pick and use function that creates the above deck (as a dictionary)
and then uses the dictionary.popitem() to return the card and value from the deck a set number of times as specified by the user
Finally print the cards 'popped' and use an accumlator to total the value of all cards

# Using menu based system that allows you to from a user generated dictionary.
Initially dictionary is empty

lookup -- use birthdaysDict.get(name,'Notfound')   -- Type 1
add    -- use birthdaysDict[name] = birthday       -- Type 2
change -- -- use birthdaysDict[name] = birthday_new-Value -- Type 3
delete Birthdays -- use del birthdaysDict[name]    -- Type 4
exit -- Type 0